* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("background_image.jpg");
}

.one {
  text-align: center;
}

p {
  color: antiquewhite;
}

h2 {
  
  text-align:center ;
}

form {
  width: fit-content;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: black;

  box-shadow: black;
}

label {
  color: beige;
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}

.kutu input {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: red;
  color: white;
  border: 1px;
}
.kutu {
  text-align: center;
}
.inputs {
  margin-bottom: 30px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}
.div3 {
  color: antiquewhite;
}
.div4 {
  display: inline-block;
  color: antiquewhite;
  text-align: center;
}
.gölge {
  background-color: rgba(0, 0, 0, 0.614);
  padding: 0px 400px;
  margin: 100px;
}
